@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  background-image: url("../img-video/img/rastr/111.jpg");
  background-position-y: -340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

header .logo {
  width: 135px;
  height: 66px;
}

header .t-phon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .phonecc {
  width: 20px;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
  z-index: 1;
  -webkit-transition: 0.3s visibility;
  transition: 0.3s visibility;
}

header #t-tel {
  visibility: hidden;
  display: block;
  left: 82.5vw;
  -webkit-transition: 0.3s visibility;
  transition: 0.3s visibility;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

header nav {
  width: 500px;
  margin-left: 0px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 1px;
}

header nav ul span {
  font-weight: bold;
}

header nav ul a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1.5px;
}

header nav ul .a-hov:hover {
  color: #d3d2d2;
}

#btn-top {
  position: fixed;
  top: 88vh;
  left: 94.5vw;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 99;
}

footer {
  background-image: url("../img-video/img/rastr/111.jpg");
  background-position-y: -340px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: auto;
  width: 100%;
}

footer .logo {
  width: 200px;
  height: auto;
  margin-left: -270px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: -40px;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin: 0 auto;
  letter-spacing: 1px;
}

footer nav .ul1 {
  width: 450px;
}

footer nav .ul2 {
  width: 230px;
  margin-top: 20px;
}

footer nav span {
  font-weight: bold;
}

footer nav a {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 0;
  letter-spacing: 1.5px;
}

footer nav .a-hov:hover {
  color: #d3d2d2;
}

footer .cpright {
  background-color: #fff;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .cpright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  margin: 0 auto;
}

footer .cpright ul p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #140f4f;
  font-weight: 600;
  font-size: 14px;
}

footer .cpright ul a {
  color: #140f4f;
  font-size: 14px;
  font-weight: 600;
}

footer .cpright ul img {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.wrapper-main-citat {
  width: 100%;
  height: 1476px;
  background-image: url("../img-video/img/rastr/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-main-citat .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 180px;
}

.wrapper-main-citat .main .wrapper-text {
  color: #fff;
  text-align: center;
}

.wrapper-main-citat .main .wrapper-text h1 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 52px;
  font-weight: 600;
}

.wrapper-main-citat .main .wrapper-text h4 {
  font-weight: 600;
  letter-spacing: 0.4em;
  font-variant: small-caps;
  font-size: 36px;
  padding-bottom: 470px;
}

.wrapper-main-citat .citat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  padding-top: 240px;
}

.wrapper-main-citat .citat p {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper-main-citat .citat h3 {
  font-weight: 400;
  font-size: 36px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

video {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
}

.visible {
  display: block !important;
  visibility: visible !important;
}

.gallery-images {
  visibility: hidden;
  position: fixed;
  z-index: 22;
  display: none;
  background-color: rgba(0, 0, 0, 0.555);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-images .cl-btn-2 {
  margin: 20px;
  position: absolute;
  top: 1vh;
  left: 94vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-images .cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}

.gallery-images .cl-btn-2 .leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #337ab7;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.gallery-images .cl-btn-2 .rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #337ab7;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.gallery-images .cl-btn-2 .close-btn {
  margin: 54px 0 0 -5px;
  position: absolute;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.gallery-images .cl-btn-2 div:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.gallery-images .cl-btn-2 div:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.gallery-images .cl-btn-2 div:hover .close-btn {
  opacity: 1;
}

.gallery-images .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  height: 80vh;
  background-color: #fff;
  border-radius: 7px;
  overflow-y: scroll;
}

.gallery-images .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.gallery-images .container .content .cc {
  width: 565px;
  height: 380px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.589);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.589);
  margin-top: 30px;
}

.gallery-images .container .content .cc img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#model3dGallery .content .cc {
  width: auto;
  height: 580px;
}

#model3dGallery .content img {
  width: 100%;
  height: 100%;
}

.wrapper-gallery-form {
  background-image: url("../img-video/img/rastr/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
}

.wrapper-gallery-form h2 {
  font-weight: 500;
  font-size: 52px;
  text-align: center;
}

.wrapper-gallery-form .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 115px;
}

.wrapper-gallery-form .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}

.wrapper-gallery-form .gallery ul .images {
  width: 400px;
  height: 230px;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.075);
          box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.075);
}

.wrapper-gallery-form .gallery ul .images h3 {
  color: #fff;
  font-size: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper-gallery-form .gallery ul .rastr {
  background-image: url("../img-video/img/rastr/squirell.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-gallery-form .gallery ul .vector {
  background-image: url("../img-video/img/vector/tel1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-gallery-form .gallery ul .models {
  background-image: url("../img-video/img/3d/r4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-gallery-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  font-weight: 500;
}

.wrapper-gallery-form .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.wrapper-gallery-form .form form .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}

.wrapper-gallery-form .form form .inp input {
  width: 32.5%;
  margin-bottom: 13px;
  background: #fff;
  outline: none;
  color: #140f4f;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.wrapper-gallery-form .form form textarea {
  width: 100%;
  height: 140px;
  background: #fff;
  outline: none;
  color: #140f4f;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.wrapper-gallery-form .form form .inf-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 13px;
}

.wrapper-gallery-form .form form .inf-butt .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 650px;
  margin-right: 0;
}

.wrapper-gallery-form .form form .inf-butt .info-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-gallery-form .form form .inf-butt .info-text p img {
  width: 10%;
  height: auto;
  margin-right: 10px;
}

.wrapper-gallery-form .form form .inf-butt .info-text p .phone {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  width: 7% !important;
}

.wrapper-gallery-form .form form .inf-butt #butt {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;
  background: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  font-variant: small-caps;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.wrapper-gallery-form .form form .inf-butt .call {
  background-color: #fff !important;
  color: #140f4f !important;
}

.uslugi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url("../img-video/img/rastr/фон.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1853px;
  color: #fff;
}

.uslugi .mb-95 {
  margin-bottom: 95px;
}

.uslugi .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.uslugi .container h3 {
  font-weight: 500;
  font-size: 44px;
  margin-top: 95px;
}

.uslugi .container .wrapper-uslugi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.uslugi .container .wrapper-uslugi .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  margin-top: 95px;
}

.uslugi .container .wrapper-uslugi .wrap h3 {
  font-weight: 500;
  font-size: 38px;
  margin: 0;
}

.uslugi .container .wrapper-uslugi .wrap .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.uslugi .container .wrapper-uslugi .wrap .cont .c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uslugi .container .wrapper-uslugi .wrap .cont .c p {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin-top: -10px;
  line-height: 1.1;
}

.uslugi .container .wrapper-uslugi .wrap .cont .c .top {
  margin-top: -25px !important;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  background-image: url("../img-video/img/rastr/bg-info.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.info p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 4.5%;
  line-height: 45px;
  text-align: center;
  margin: 150px 0;
}

.wrapper-slider {
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-image: url("../img-video/img/rastr/bg4.jpg");
  background-size: cover;
  background-position: -80px -190px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper-slider h2 {
  font-weight: 500;
  font-size: 52px;
  text-align: center;
  color: #140f4f;
  margin-bottom: -20px;
}

.wrapper-slider .arrow-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  position: relative;
  top: 305px;
  margin: 0;
  padding: 0;
}

.wrapper-slider .arrow-buttons .but {
  cursor: pointer;
}

.wrapper-slider .wrapper-container {
  width: 1110px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-slider .wrapper-container .card-line {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 3330px;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.wrapper-slider .wrapper-container .card-line .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px !important;
  height: 550px;
  border-radius: 5px;
  background-color: #140f4f;
  letter-spacing: 1px;
}

.wrapper-slider .wrapper-container .card-line .card img {
  width: 435.517px;
  height: 550px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.wrapper-slider .wrapper-container .card-line .card .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  padding: 20px;
}

.wrapper-slider .wrapper-container .card-line .card .txt .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 45px;
}

.wrapper-slider .wrapper-container .card-line .card .txt .head h4 {
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
}

.wrapper-slider .wrapper-container .card-line .card .txt .head h5 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
}

.wrapper-slider .wrapper-container .card-line .card .txt p {
  font-weight: 500;
  font-size: 20px;
  line-height: 184%;
  letter-spacing: 0.045em;
}

.map {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */